body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    /* IMAGE DE FOND */
    background-image: url("Image.jpg"); /* change le nom si besoin */
    background-size: cover;        /* couvre tout l'écran */
    background-position: center;   /* centre l'image */
    background-repeat: no-repeat;  /* pas de répétition */
    background-attachment: fixed;  /* effet de fond fixe (optionnel) */
}

/* En-tête */
header {
    background-color: #ee4181;
    color: white;
    margin-bottom: 2em;
}

h1 {
    text-align: center;
    margin-top: 4px;
    color: #333;
    font-size: 3rem; /* grossit le texte */
    font-weight: bold;
}

p {
    color: #564f4f;
    max-width: 600px;
    line-height: 1.5;
    text-align: center;
    font-size: 1.4rem;      /* Taille du paragraphe — un peu plus grande */
}

/* Conteneur des boutons */
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Boutons */
button {
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #ffffffa0;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 260px;
}

button:hover {
    background-color: #d0e7f9;
}